html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

  // font-family: 'Overpass', sans-serif;
  font-family: 'Ubuntu', sans-serif;
}

a, a:visited, a:hover {
  text-decoration: none;
  color: $white;
}

a.disabled {
  pointer-events: none;
}

ul {
  list-style: none;
  padding-left: 0;
}

.flex {
  display: flex;

  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }



}

.button {
  height: 48px;
  width: 137px;
  margin: 0;
  padding: 0;

  font-size: 16px;
  font-weight: 500;
  font-family: 'Ubuntu', sans-serif;

  background-color: transparent;
  border: 1px solid $white;
  border-radius: 24px;
  color: $white;

  transition: all 70ms ease-in-out;

  &:hover {
    color: $lightRed;
    background-color: $white;
    // border: 0px solid $veryLightRed;
  }


  &-primary {
    background-color: $white;
    color: $lightRed;

    &:hover {
      color: $white;
      background-color: $veryLightRed;
      border: 0px solid $veryLightRed;
    }
  }
}

.dropdown {
  position: absolute;
  left: -20px;
  top: 40px;
  display: block;
  opacity: 0;
  background-color: $white;
  border: 0px solid;
  border-radius: 5px;
  padding: 34px 24px;
  width: 168px;
  transition: opacity 100ms ease-in-out;

  ul > li {
    &:not(:last-child) {
      margin-bottom: 16px;
    }

    a { 
      color: $veryDarkBlue; 
      font-weight: 400;
      padding: 0;

      // transition: font-weight 100ms ease-in-out; // Unsupproted yet

      &:hover {
        font-weight: 500;
      }
    }
  } 
}

.show {
  opacity: 1;
}