.header {
  position: relative;
  z-index: 0; 

  background: linear-gradient(120deg, $GveryLightRed, $GlightRed);
  width: 100%;
  

  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;

  border: 0px solid;
  border-radius: 0px 0px 0px 94px;

  padding-bottom: 94px;

  nav {
    max-width: 1112px;
    margin: 0 auto;
    padding-top: 48px;
  }

  &__logo {
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;

    font-size: 32px;

    margin-right: 64px;
    padding-bottom: 8px;
  }

  &__links {
    font-weight: 500;
    padding: 0;
    
    > li {
      position: relative;
      cursor: pointer;
      padding: 4px 0;

      &:not(:last-child) {
        margin-right: 26px;
      }

      a {
        margin: 0;
        padding: 4px 24px 4px 4px;        
        opacity: 0.7;
        position: relative;

        transition: all 200ms ease-in-out;
      }

      > a::after {
        position: absolute;
        content: "";
        background-image: url('/images/icon-arrow-light.svg');
        width: 10px;
        height: 7px;
        top: 11px;
        right: 7px;

        
      }

      &.toggled > a {
        opacity: 1;
        text-decoration: underline;

        &::after {
          height: -7px;

          transform: rotate(180deg);
        }
      }
    }
  }

  &__buttons {
    margin-left: auto;

    > a {
      font-weight: 300;
      opacity: 0.8;
      margin-right: 32px;
    }
  }


  &__cta {
    margin: 128px 10px 66px 10px;
    

    h1, p {
      text-align: center;
      color: $white;

      font-family: 'Overpass', sans-serif;
    }

    h1 {
      font-size: 60px;
      margin: 0;
    }

    p {
      font-size: 20px;
      font-weight: 300;
      opacity: 0.8;
      margin-top: 12px;
      margin-bottom: 48px;
    }


    &_buttons {
      width: 290px;
      margin: 0 auto;
    }
  }


  &::before {
    position: absolute;
    content: "";
    background-image: url('/images/bg-pattern-intro-desktop.svg');
    // background-position: -450px -1360px;
    background-position: -450px -1340px;
    
    // top: -1360px;
    // left: -450px;

    height: 100%;
    width: 100%;

    z-index: -1;
  }
}