// Colors
// Primary
$lightRed: hsl(356, 100%, 66%);     // CTA text
$veryLightRed: hsl(355, 100%, 74%); // CTA hover background
$veryDarkBlue: hsl(208, 49%, 24%);  // headings
// Neutral
$white: hsl(0, 0%, 100%);                 // text
$grayishBlue: hsl(240, 2%, 79%);          // footer text
$veryDarkGrayishBlue: hsl(207, 13%, 34%); // body copy
$veryDarkBlackBlue: hsl(240, 10%, 16%);   // footer background
// Colors for background gradient
// Intro/CTA mobile nav
$GveryLightRed: hsl(13, 100%, 72%);
$GlightRed: hsl(353, 100%, 62%);
// Body
$GveryDarkGrayBlue: hsl(237, 17%, 21%);
$GveryDarkDesaturatedBlue: hsl(237, 23%, 32%);


// Font sizes
$font-body: 16px;